/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* MY STYLE */
body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 1rem;
}

/* NAVBAR */

#navbar a {
  color: #000000;
  background-color: transparent;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.5em;
}

nav#navbar div.container a:first-child:hover {
  letter-spacing: 0.1em;
  transition: 0.3s;
  cursor: default;
}
nav#navbar div.container a:last-child:hover {
  letter-spacing: 0.1em;
  transition: 0.3s;
  cursor: pointer;
}

#navbar .content-wrapper ul li a {
  color: #000000;
  background-color: transparent;
  font-weight: 400;
  text-decoration: none;
  font-size: 1.1em;
}

nav#navbar .content-wrapper ul li a:hover {
  color: #b87954;
  cursor: pointer;
}

#navbar a span {
  color: #b87954;
}
.navbar .content-wrapper {
  border-radius: 1.18em;
  background-color: #f2c7ad;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* COMMON ELEMENTS */

section div.card {
  margin: 3.1rem;
  padding: 2.9rem;
  background-color: #f2c7ad;
  border-radius: 1.18em;
}
section {
  margin-top: 3rem;
}

section .row {
  margin-top: 2.4rem;
}

section h1 {
  font-weight: 700;
  font-size: 2em;
}
/* JUMBOTRON */
section#jumbotron .container .row .content-wrapper {
  margin-top: 7.5rem;
}

section#jumbotron .container .row .content-wrapper h1:nth-child(1) {
  color: #b87954;
  font-size: 3.5em;
  font-weight: 900;
}

section#jumbotron .container .row .content-wrapper h1 {
  font-size: 3.5em;
  font-weight: 900;
}

section#jumbotron .container .row .content-wrapper .card {
  background-color: #f2c7ad;
}

section#jumbotron .container .row .content-wrapper p {
  font-size: 1.7em;
}

section#jumbotron .container .row img {
  border-radius: 50%;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

section#jumbotron .container .row .content-wrapper {
  text-align: center;
}

/* ABOUT ME */

section#about .container .col .card {
  padding: 1.2rem;
  background-color: #f2c7ad;
  border-radius: 1.18rem;
}

section#about img {
  width: 25rem;
  height: 25rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
  border-radius: 5%;
}

section#about p {
  font-weight: 400;
  font-size: 1.85em;
  line-height: 2rem;
  text-align: justify;
}

section#about h3 {
  font-weight: 400;
  font-size: 2.8em;
  text-align: center;
}

section#about span,
section#education span,
section#tools span,
section#social-media span {
  color: #b87954;
}

/* EDUCATION */
section#education .row .col .card {
  width: 84%;
  margin: 2% auto;
  padding: 2rem;
  height: 20rem;
  overflow: hidden;
  padding: 0;
  background-color: transparent;
  border-radius: 6em;
  background-color: #ffffff;
  border: 3px solid #b87954;
  line-height: 2.5em;
}

section#education img {
  margin-top: -3rem;
  width: 30rem;
  height: 30rem;
}

section#education .row .col .card h2 {
  font-weight: 800;
  color: #b87954;
  font-size: 2.2em;
}

section#education .row .col .card h4 {
  font-weight: 600;
  color: #000000;
  font-size: 1.2em;
}

section#education .row .col .card p {
  font-weight: 300;
  color: #000000;
  font-size: 1em;
}
/* TOOLS */

section#tools div.container div.row:nth-child(2) {
  margin: 0 auto;
}
section#tools img,
section#tools div.card {
  border-radius: 100%;
  border: 0.25rem solid #b87954;
}

section#tools .card {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  width: 14rem;
  height: 14rem;
  background-color: #ffffff;
}

section#tools .java {
  background-image: url(img/java.png);
}
section#tools .html {
  background-image: url(img/html.png);
}
section#tools .css {
  background-image: url(img/css.png);
}
section#tools .php {
  background-image: url(img/php.png);
}
section#tools .js {
  background-image: url(img/js.png);
}

section#tools .github {
  background-image: url(img/github.jpg);
}

/* SOCIAL MEDIA */

section#social-media {
  margin-bottom: 6rem;
}

section#social-media div.row div.card {
  border: 0.25rem solid #b87954;
}
section#social-media .card {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15rem;
  height: 15rem;
  background-color: #ffffff;
  border-radius: 50%;
}

section#social-media .instagram {
  background-image: url(img/ig.jpg);
}
section#social-media .facebook {
  background-image: url(img/fb.png);
}
section#social-media .linkedin {
  background-image: url(img/linkedin.png);
}
section#social-media .github {
  background-image: url(img/github.jpg);
}

/* FOOTER */
footer {
  background-color: #f2c7ad;
  box-sizing: border-box;
  padding-top: 1rem;
  text-align: center;
  line-height: 2rem;
}

footer div.navbar {
  margin: auto;
}

footer div.links a {
  margin: 0.5rem;
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

footer div.links a:hover {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}

/* RESUME BUTTON */
#resume:hover {
  outline-style: auto;
  outline-color: #f2c7ad;
  background-color: #ffffff;
}

/* Media queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 70%;
  }

  section#about p {
    line-height: 120%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 50%;
  }

  section#jumbotron img,
  section#tools div.card,
  section#social-media div.card {
    margin: 2rem auto;
  }
}

/* Phones */
@media (max-width: 450px) {
  html {
    font-size: 35%;
  }
}

/* Smaller Screen Phones */

@media (max-width: 360px) {
  html {
    font-size: 20%;
  }
}
