body {
  background-color: #ffffff;
  font-family: "Cabin";
}
/* .jumbotron {
  padding-top: 6rem;
  background-color: #f2c7ad;
} */

section {
  padding-top: 6rem;
}

/* #tools .card {
  width: fit-content;
  height: fit-content;
  align-items: center;
}

#tools .card-img-top {
  width: 10rem;
  height: 10rem;
} */

.navbar .content-wrapper {
  border-radius: 20px;
  background-color: #f2c7ad;
  padding-left: 15px;
  padding-right: 15px;
}

#experiences {
  background-color: #ffffff;
}

#resume {
  border-radius: 20px;
  background-color: #f2c7ad;
}

#resume:hover {
  outline-style: auto;
  outline-color: #f2c7ad;
  background-color: #ffffff;
}

.about p {
  font-size: 28px;
}

.about span {
  font-size: 28px;
}

#footer {
  background-color: transparent;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

#projects .card {
  background-color: #f5f5f5;
}
